<table>
    <thead>
        <tr>
            <th rowspan="2" colspan="20" style="font-size:18px; font-weight:bold; border:1px solid black; text-align:center; vertical-align:center;">LAPORAN DETAIL KCKR</th>
        </tr>
    </thead>
</table><br>

<table>
    <thead>
        <tr>
            <th style="height:25px; font-size:10px; font-weight:bold; border:1px solid black; text-align:center; vertical-align:center;">No</th>
            <th style="height:25px; font-size:10px; font-weight:bold; border:1px solid black; text-align:center; vertical-align:center;">Periode</th>
            <th style="height:25px; font-size:10px; font-weight:bold; border:1px solid black; text-align:center; vertical-align:center;">Kota</th>
            <th style="height:25px; font-size:10px; font-weight:bold; border:1px solid black; text-align:center; vertical-align:center;">Penerbit</th>
            <th style="height:25px; font-size:10px; font-weight:bold; border:1px solid black; text-align:center; vertical-align:center;">Format</th>
            <th style="height:25px; font-size:10px; font-weight:bold; border:1px solid black; text-align:center; vertical-align:center;">Judul</th>
            <th style="height:25px; font-size:10px; font-weight:bold; border:1px solid black; text-align:center; vertical-align:center;">Deposit</th>
            <th style="height:25px; font-size:10px; font-weight:bold; border:1px solid black; text-align:center; vertical-align:center;">Identifier</th>
            <th style="height:25px; font-size:10px; font-weight:bold; border:1px solid black; text-align:center; vertical-align:center;">Kategori</th>
            <th style="height:25px; font-size:10px; font-weight:bold; border:1px solid black; text-align:center; vertical-align:center;">Flag</th>
            <th style="height:25px; font-size:10px; font-weight:bold; border:1px solid black; text-align:center; vertical-align:center;">Tipe</th>
            <th style="height:25px; font-size:10px; font-weight:bold; border:1px solid black; text-align:center; vertical-align:center;">Sample</th>
            <th style="height:25px; font-size:10px; font-weight:bold; border:1px solid black; text-align:center; vertical-align:center;">Frekuensi</th>
            <th style="height:25px; font-size:10px; font-weight:bold; border:1px solid black; text-align:center; vertical-align:center;">Akses</th>
            <th style="height:25px; font-size:10px; font-weight:bold; border:1px solid black; text-align:center; vertical-align:center;">Harga</th>
            <th style="height:25px; font-size:10px; font-weight:bold; border:1px solid black; text-align:center; vertical-align:center;">Keterangan</th>
            <th style="height:25px; font-size:10px; font-weight:bold; border:1px solid black; text-align:center; vertical-align:center;">Tanggal Terima</th>
            <th style="height:25px; font-size:10px; font-weight:bold; border:1px solid black; text-align:center; vertical-align:center;">Kepengarangan</th>
            <th style="height:25px; font-size:10px; font-weight:bold; border:1px solid black; text-align:center; vertical-align:center;">Bentuk Fisik</th>
            <th style="height:25px; font-size:10px; font-weight:bold; border:1px solid black; text-align:center; vertical-align:center;">Subjek</th>
        </tr>
    </thead>
    <tbody>
                                    <tr>
                    <td style="font-size:9px; border:1px solid black; text-align:center; vertical-align:center;">
                        1
                    </td>
                    <td style="font-size:9px; border:1px solid black; text-align:center; vertical-align:center;">
                                                    Semua Periode
                                            </td>
                    <td style="font-size:9px; border:1px solid black; text-align:center; vertical-align:center;">
                        KOTA JAKARTA TIMUR
                    </td>
                    <td style="font-size:9px; border:1px solid black; text-align:center; vertical-align:center;">
                        Akademi Keperawatan Bina Insan Jakarta
                    </td>
                    <td style="font-size:9px; border:1px solid black; text-align:center; vertical-align:center;">
                                                    -
                                            </td>
                    <td style="font-size:9px; border:1px solid black; text-align:center; vertical-align:center;">
                        tester
                    </td>
                    <td style="font-size:9px; border:1px solid black; text-align:center; vertical-align:center;">
                        DEP-S-KR-00001
                    </td>
                    <td style="font-size:9px; border:1px solid black; text-align:center; vertical-align:center;">
                        (ISBN)fdsfds
                    </td>
                    <td style="font-size:9px; border:1px solid black; text-align:center; vertical-align:center;">
                                                    Majalah
                                            </td>
                    <td style="font-size:9px; border:1px solid black; text-align:center; vertical-align:center;">
                        Serial
                    </td>
                    <td style="font-size:9px; border:1px solid black; text-align:center; vertical-align:center;">
                        Karya Cetak
                    </td>
                    <td style="font-size:9px; border:1px solid black; text-align:center; vertical-align:center;">
                                                    -
                                            </td>
                    <td style="font-size:9px; border:1px solid black; text-align:center; vertical-align:center;">
                                                    -
                                            </td>
                    <td style="font-size:9px; border:1px solid black; text-align:center; vertical-align:center;">
                                                    -
                                            </td>
                    <td style="font-size:9px; border:1px solid black; text-align:center; vertical-align:center;">
                        <p><span style="color: rgb(0, 0, 0); font-family: "Open Sans", Arial, sans-serif; font-size: 14px; text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vulputate finibus ornare. Nunc id enim et nisi scelerisque scelerisque. Vestibulum sodales, tortor vel pellentesque varius, felis neque hendrerit magna, bibendum venenatis urna ex semper ipsum. Ut condimentum mi sit amet quam interdum scelerisque. Sed interdum nibh sed gravida maximus. Fusce ultrices justo sem, vitae porta risus bibendum id. Duis in posuere sem. Fusce aliquet odio elit, nec blandit purus cursus a. Pellentesque fringilla nunc neque. Cras aliquet nibh mattis elit vehicula tempor. Nulla luctus at urna vitae lacinia.</span><br></p>
                    </td>
                    <td style="font-size:9px; border:1px solid black; text-align:center; vertical-align:center;">
                                                    -
                                            </td>
                    
                    
                </tr>
                            <tr>
                    <td style="font-size:9px; border:1px solid black; text-align:center; vertical-align:center;">
                        2
                    </td>
                    <td style="font-size:9px; border:1px solid black; text-align:center; vertical-align:center;">
                                                    Semua Periode
                                            </td>
                    <td style="font-size:9px; border:1px solid black; text-align:center; vertical-align:center;">
                        KOTA JAKARTA PUSAT
                    </td>
                    <td style="font-size:9px; border:1px solid black; text-align:center; vertical-align:center;">
                        Akademi Keperawatan Bina Insan Jakarta
                    </td>
                    <td style="font-size:9px; border:1px solid black; text-align:center; vertical-align:center;">
                                                    -
                                            </td>
                    <td style="font-size:9px; border:1px solid black; text-align:center; vertical-align:center;">
                        tester123
                    </td>
                    <td style="font-size:9px; border:1px solid black; text-align:center; vertical-align:center;">
                        DEP-NS-KR-00002
                    </td>
                    <td style="font-size:9px; border:1px solid black; text-align:center; vertical-align:center;">
                        (ISBN)232323
                    </td>
                    <td style="font-size:9px; border:1px solid black; text-align:center; vertical-align:center;">
                                                    -
                                            </td>
                    <td style="font-size:9px; border:1px solid black; text-align:center; vertical-align:center;">
                        Non Serial
                    </td>
                    <td style="font-size:9px; border:1px solid black; text-align:center; vertical-align:center;">
                        Karya Rekam
                    </td>
                    <td style="font-size:9px; border:1px solid black; text-align:center; vertical-align:center;">
                                                    Tidak Ada
                                            </td>
                    <td style="font-size:9px; border:1px solid black; text-align:center; vertical-align:center;">
                                                    Baca Ditempat
                                            </td>
                    <td style="font-size:9px; border:1px solid black; text-align:center; vertical-align:center;">
                                                    25,000
                                            </td>
                    <td style="font-size:9px; border:1px solid black; text-align:center; vertical-align:center;">
                        <p><span style="color: rgb(77, 81, 86); font-family: arial, sans-serif; font-size: 14px;">Lorem ipsum, atau ringkasnya lipsum, adalah teks standar yang ditempatkan untuk mendemostrasikan elemen grafis atau presentasi visual seperti font, tipografi, dan tata letak</span><br></p>
                    </td>
                    <td style="font-size:9px; border:1px solid black; text-align:center; vertical-align:center;">
                                                    2 Maret 2021
                                            </td>
                    
                    
                </tr>
                        </tbody>
</table>